apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: flask-app-ns
spec:
  replicas: 1   # You can increase for HA later
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: flask-app:latest  # Replace with your built image
        ports:
        - containerPort: 5000
        env:
          - name: DB_HOST
            value: postgres.db-ns.svc.cluster.local
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_USER
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_PASSWORD
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_DB

