apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-client
  mountOptions:
    - vers=3   # <-- add this if NFSv3 is required
  nfs:
    server: 192.168.1.40   # <-- your host IP
    path: /srv/nfs/postgres

