apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  namespace: db
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: 172.17.0.1       # <-- your host IP
    path: /srv/nfs/postgres

