apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: db
spec:
  selector:
    app: postgres
  type: NodePort
  ports:
    - port: 5432        # service port inside cluster
      targetPort: 5432  # container port
      nodePort: 30032   # external port on each node
      protocol: TCP
      name: postgres

