name: DB CI

on:
  push:
    branches: [dev]

jobs:
  db:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set changed files
        id: changed
        run: |
          git fetch origin
          if [ "${{ github.event.before }}" = "0000000000000000000000000000000000000000" ]; then
            files=$(git ls-files db/)
          else
            files=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }} -- db/)
          fi
          echo "files=$files" >> $GITHUB_OUTPUT

      - name: Run Liquibase migrations
        if: steps.changed.outputs.files != ''
        run: |
          cd db
          liquibase --changeLogFile=changelog/changelog-master.xml update

