name: Database Migration

on:
  push:
    branches: [dev]
    paths: [db/**]

jobs:
  db:
    runs-on: self-hosted

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Run Liquibase migrations (Docker)
        run: |
          echo "Running Liquibase migrations using Docker..."
          docker run --rm \
            -v ${{ github.workspace }}:/liquibase/changelog \
            liquibase/liquibase:4.27.0 \
            --url="jdbc:postgresql://postgres.db.svc.cluster.local:5431/postgres" \
            --username="${{ secrets.POSTGRES_USER }}" \
            --password="${{ secrets.POSTGRES_PASSWORD }}" \
            --changeLogFile=db/changelog/db.changelog-master.xml \
            update

