name: Python App CI/CD

on:
  push:
    branches: [ "dev" ]        # runs when you push to dev branch
    paths: [ "app/**" ]        # only triggers if files under app/ change

jobs:
  build-and-deploy:
    runs-on: self-hosted       # your self-hosted runner with Docker + kubectl installed

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/python-app:latest -f app/Dockerfile app

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/python-app:latest

      # Create/Update postgres-secret from GitHub Secrets
      - name: Create/Update postgres-secret
        run: |
          kubectl create secret generic postgres-secret \
            -n db \
            --from-literal=POSTGRES_USER=${{ secrets.POSTGRES_USER }} \
            --from-literal=POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Apply Kubernetes manifests
        run: kubectl apply -f app/k8s

      - name: Restart deployment
        run: kubectl rollout restart deploy/python-app -n db

      - name: Verify rollout
        run: kubectl rollout status deploy/python-app -n db

